.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-posit {
  margin-top: 120px;
}
.title-posit {
  margin-bottom: 72px;
}
.card-title-posit {
  margin-top: 32px;
  margin-bottom: 4px;
}
.card-txt-posit {
  margin-top: 4px;
  margin-bottom: 32px;
}
.logo {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--subsid-color);
}

.logo-ligh {
  color: var(--ancillary-color);
}

.logo-dark {
  color: var(--log-stud-col);
}

:root {
  --subsid-color: #4d5ae5;
  --logo-font: "Raleway", sans-serif;
  --dark-bgr: #2e2f42;
  --ancillary-color: #2e2f42;
  --backgr-color: #ffffff;
  --log-stud-col: #f4f4fd;
  --body-color: #434455;
  --backgr-btn: #404bbf;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--backgr-color);
  color: var(--body-color);
}

.page-header {
  background-color: color #e7e9fc;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px outset rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-nav {
  display: flex;
  column-gap: 76px;
}

.menu {
  display: flex;
  column-gap: 40px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--ancillary-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--backgr-btn);
}

.contacts {
  font-style: normal;
  line-height: 1.5;
  margin-left: auto;
}

.page-contact {
  display: flex;
  column-gap: 36px;
}

.contact-mt {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--body-color);
}
.contact-mt:hover,
.contact-mt:focus {
  color: var(--backgr-btn);
}

.order-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--backgr-color);
  flex: none;
  padding: 16px 32px;
  min-width: 169px;
  background: var(--subsid-color);
  margin-top: 48px;
  margin-bottom: 188px;
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--backgr-btn);
}

.designation {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--backgr-color);
  background-color: var(--dark-bgr);
}

.designation-title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--backgr-color);
  text-align: center;
  padding-top: 188px;
  margin-left: auto;
  margin-right: auto;
}

.advantage-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.advantage-list {
  display: flex;
  column-gap: 24px;
}
.adv-qual {
  justify-content: left;
  min-width: 264px;
}

.title-adv {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
}
.defin-adv {
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-top: 8px;
  line-height: 1.5;
}

.ourwork-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--ancillary-color);
}

.ourwork-list {
  display: flex;
  column-gap: 24px;
}

.employ {
  padding-bottom: 120px;
  background-color: var(--log-stud-col);
}

.employ-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
  padding-top: 120px;
}

.employ-list {
  display: flex;
  column-gap: 24px;
  background-color: var(--log-stud-col);
}

.employ-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgr-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.empl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
}
.empl-prof {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.vault {
  background: var(--dark-bgr);
}

.vault-txt {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--log-stud-col);
  width: 264px;
  margin-top: 16px;
}

/*Portfolio*/

.guide-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--subsid-color);
  background-color: var(--log-stud-col);

  text-align: center;
  letter-spacing: 0.04em;
}

.guide-btn:hover,
.guide-btn:focus {
  color: var(--backgr-color);
  background-color: var(--backgr-btn);
}

.specification {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--ancillary-color);
  padding-left: 16px;
}

.specification-p {
  letter-spacing: 0.02em;
  color: var(--body-color);
  line-height: 1.5;
  padding-left: 16px;
}

.btn-list {
  display: flex;

  margin: 96px auto 72px auto;
  justify-content: center;
  column-gap: 24px;
}

.all-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 114px;
}
.qwer {
  border: 1px outset rgba(46, 47, 66, 0.16);
border-top: none;
